body {
	background-color: #2F2F2F;

	-webkit-animation: fadein_color 1.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein_color 1.5s; /* Firefox < 16 */
	-ms-animation: fadein_color 1.5s; /* Internet Explorer */
	-o-animation: fadein_color 1.5s; /* Opera < 12.1 */
	animation: fadein_color 1.5s;
}

h1 {
	font-family: Helvetica, sans-serif;
	color: white;
	
	font-weight: 700px;
	text-align: center;
	
    top: 40%;
    width: 100%;
}

h2 {
	font-family: Helvetica, sans-serif;
	color: white;
	
	font-weight: 300;
	
	
	top: 50%;
    width: 100%;	

}

p {
	color: white;
}

