body {
	background-color: #2F2F2F;

	-webkit-animation: fadein_color 1.5s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein_color 1.5s; /* Firefox < 16 */
	-ms-animation: fadein_color 1.5s; /* Internet Explorer */
	-o-animation: fadein_color 1.5s; /* Opera < 12.1 */
	animation: fadein_color 1.5s;
}

#navbar {
  overflow: hidden;
  background-color: #444444;
}

#navbar a {
  font-family: Helvetica, sans-serif;
  float: left;
  display: block;
  color: #f2f2f2; /* Font-colour */
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

h1 {
	font-family: Helvetica, sans-serif;
	font-size: 50px;
	color: white;
	
	font-weight: 700px;
	padding-left: 0px;

}

h2 {
	font-family: Helvetica, sans-serif;
	font-size: 25px;
	color: white;
	
	font-weight: 300;
	

}

p {
	color: white;
}

